<h2>
    Game html works
</h2>

<input type="text" placeholder="Search for a game" [(ngModel)]="searchText">
Searched value: {{searchText}}

<ul #gamesContainer>
    <li *ngFor="let game of games">
        <su-game-item [sourceGame]="game">

        </su-game-item>
        <!-- <div>
            Game: {{game.title}}
        </div>
        <div>
            Game Title Length: {{game.title?.length}}
        </div>

        <span [class.game-price]="shouldPriceBeGreen" *ngIf="game.price > 0">
            Price: {{game.price}}
        </span>

        <span [style.font-size.px]="'25'" [style.color]="'red'">
            Raiting: {{game.raiting}}
        </span>

        <div>
            <img [src]="game.img" alt="" width="300px">
        </div> -->
    </li>
</ul>

<div>
    Total game: {{gamesContainer.children.length}}
</div>


<button (click)="handleCreateOrDestroyGameItem()">
    {{shouldShowGameItemComponent? 'Destroy Game Item Component': 'Create Game Item Component'}}
</button>

<button (click)="handleExpandContentClick(gamesContainer)">
    {{shouldPriceBeGreen? 'Make Price Dark': 'Make Price Green'}}
</button>